

.wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;

}

.wrapper > * {
    padding: 10px;
    flex: 1 100%;
}

.header {
    display: flex;
    border-bottom: 1px solid black;
}

.header-logo {
    display: flex;
    max-width: 275px;
}

.header-logo img {
    width: 100%;
}
.header a {
    text-decoration: none;
    color: black;
}
.header h1{
    max-height:100%
}

.myButton {
    background-color:#c7c7c7;
    -moz-border-radius:16px;
    -webkit-border-radius:16px;
    border-radius:16px;
    border:3px solid #b9bfba;
    display:inline-flex;
    cursor:pointer;
    color:#3d3d3d;
    font-family:Arial;
    font-size:17px;
    padding:19px 60px;
    text-decoration:none;
    text-shadow:0px 1px 0px #bdbdbd;
}
.myButton:hover {
    background-color:#bcbdbb;
}
.myButton:active {
    position:relative;
    top:1px;
}




.main p {
    color: #3E3E50;
}
.twitter-timeline {
}


.footer {
    border-top: 1px solid black;

}


.aside-2 {
    width: 10%;
}
/* changes chart height*/
/*.chart {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;

}*/

@media all and (min-width: 600px) {
    .aside { flex: 1 auto; }
}

@media all and (min-width: 800px) {
    .main    { flex: 3 0px; }
    .main    { order: 2; }
    .aside-2 { order: 3; }
    .footer  { order: 4; }
}

body {
    background-color: #f4f4f4;
    padding: 0;
    margin: 0;
    font-family: "Arial";
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}



