

.wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;

    text-align: center;
}

.wrapper > * {
    padding: 10px;
    flex: 1 100%;
}

.header {
    display: flex;
    height: 100%;
    width: 100%;
}

.header-logo {
    display: flex;
    width: 275px;
    height: 100%;
}

.header-logo img {
    width: 100%;
}
.header a {
    text-decoration: none;
    color: black;
}

#linecanvas {
    justify-content: center;
    width: 49%;
    height: auto;
}
#barcanvas {
    width: 49%;
    height: auto;
}


.main {
    text-align: left;
}


.footer {
}


.aside-2 {
    width: 10%;
}

@media all and (min-width: 600px) {
    .aside { flex: 1 auto; }
}

@media all and (min-width: 800px) {
    .main    { flex: 3 0px; }
    .main    { order: 2; }
    .aside-2 { order: 3; }
    .footer  { order: 4; }
}

body {
    padding: 0;
    margin: 0;
    font-family: "Arial";
}


