

.wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;

}

.wrapper > * {
    padding: 10px;
    flex: 1 100%;
}

.header {
    background-color: #0065A3;
    display: flex;
    border-bottom: 1px solid black;
    justify-content: space-around;
    /* TODO justify-content: space-between;*/

}

.header-logo {
    display: flex;
    max-width: 200px;
}

.header-logo img {
    display: flex;
    width: 100%;
}
.header a{
    text-decoration: none;
    color: white;
}
.header h1{
    max-height:100%
}
.dropdown {
    display: flex;
    display: -webkit-flex;
    -webkit-flex-flow:column;
    -webkit-justify-content: space-between;
    position: absolute;
}

.dropdown a {
    padding: 5px;
    display: block;
    background: #0065A3;

}
.dropdown a:hover {
    background: #3384B5;
    color: white;
}


.myButton1:not(:hover):not(:target) > .dropdown {
    display: none;
}



.myButton1 {
    background-color:transparent;
    display:inline-flex;
    color: white;
    font-size:20px;
    padding:19px 50px;
    text-decoration:none;
    text-shadow:0px 1px 0px #bdbdbd;
}


.myButton {
    background-color:transparent;
    display:inline-flex;
    color:#3d3d3d;
    font-size:20px;
    padding:19px 50px;
    text-decoration:none;
    text-shadow:0px 1px 0px #bdbdbd;
}
.myButton:hover {
    background-color: #3384B5;
}
.myButton:active {
    position:relative;
    top:1px;
}

.main {
    flex: 1;
}
.main h1 {
}

.main p {
    color: #3E3E50;
}
.twitter-timeline {
}

.footer {
    border-top: 1px solid black;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 96%;

}


.aside-2 {
    width: 10%;
}


@media all and (min-width: 600px) {
    .aside { flex: 1 auto; }
}

@media all and (min-width: 600px) {
    .main    { flex: 3 0px; }
    .main    { order: 2; }
    .aside-2 { order: 3; }
    .footer  { order: 4; }
    #menu    { display: none; }
}
@media all and (max-width: 600px) {
    .buttons {display: none; }
    .header-text {
        order: 1;
        display: inline-block;
    }
    .header-logo {display: none; }
}

body {
    /*background-color: #f4f4f4;*/

    padding: 0;
    font-family: "Arial";
    margin: 0 0 150px;
}

html {
    position: relative;
    min-height: 100%;
}



