# Turn on the rewrite engine
Options +FollowSymlinks
RewriteEngine on

#Request routing
RewriteRule api/v1/crosswalk/(.*)$ webservice.php?crosswalk=$1 [NC,QSA,L]
RewriteRule api/v1/(.*)$ webservice.php?type=$1 [NC,QSA,L]

AddDefaultCharset utf-8