# Turn on the rewrite engine
Options +FollowSymlinks
RewriteEngine on

#Request routing
RewriteRule zebra/api/v1/crosswalk/(.*)$ webservice.php?crosswalk=$1 [NC,QSA,L,PT]
RewriteRule zebra/api/v1/crosswalks/(.*)$ webservice.php?crosswalks=all&$1 [NC,QSA,L,PT]
RewriteRule zebra/api/v1/(.*)$ webservice.php?chart=$1 [NC,QSA,L,PT]

AddDefaultCharset utf-8
